.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.results > img {
    margin: auto auto;
    float: left;
    max-width: 100px;
    
    
}